.background { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
  }

  .cert { 
    background-image: url(aws.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
  }
  .div1 {
    /* Background pattern from Toptal Subtle Patterns */
       height: 100%;
       width: 100%;
       background-image: 
           url(aws.png),
           url(project.png);
       background-repeat: no-repeat, no-repeat;
    }

#header{
  width:100%;
  position:fixed;
  left:0;
  top:0;

}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6{
  height: 100vh;
  max-width: 100%;
  vertical-align: top;
  padding-top: 5%;
  scroll-padding-top: 5%;
}

.container1{
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.footer{
  position: absolute;
  bottom:5px;
  size:100px;
}
